#################################################################################
# Pipeline to audit dependencies for security vulnerabilities                   #
#################################################################################
name: Audit
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
concurrency:
  group: ${{ github.ref }}-audit
  cancel-in-progress: true
permissions:
  contents: read
env:
  CARGO_TERM_COLOR: always
jobs:
  audit:
    name: Dependency Audit
    runs-on: self-hosted-hoprnet-bigger
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - name: Checkout hoprnet repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Nix
        uses: hoprnet/hopr-workflows/actions/setup-nix@c8d45034bb33307dfda3b4dfcd1fc4000cadc05a # setup-nix-v1
        with:
          cachix_cache_name: blokli
          cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Run dependency audit
        run: nix run -L .#audit
