#################################################################################
# Pipeline to build on pull requests                                            #
#################################################################################
name: Build
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
concurrency:
  group: ${{ github.ref }}-build
  cancel-in-progress: true
permissions:
  contents: read
env:
  CARGO_TERM_COLOR: always
jobs:
  build-docker:
    name: Docker ${{ matrix.architecture }}
    uses: hoprnet/hopr-workflows/.github/workflows/build-docker-image.yaml@ausias/add-docker-security # build-docker-image-v1
    strategy:
      matrix:
        include:
          - architecture: x86_64-linux
            command: nix run -L .#bloklid-docker-upload-amd64
    permissions:
      contents: read
    with:
      source_branch: ${{ github.event.pull_request.head.ref || github.ref }}
      version_type: "commit"
      architecture: ${{ matrix.architecture }}
      cachix_cache_name: "blokli"
      build_file: "bloklid/Cargo.toml"
      build_command: ${{ matrix.command }}
      smoke_test_command: nix develop -c ./tests/smoke/run-smoke-test.sh
      docker_image_name: "bloklid"
    secrets:
      gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY}}
      cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
      docker_hub_token: ${{ secrets.DOCKER_HUB_TOKEN }}
  build-docker-manifest:
    name: Docker manifest
    needs: build-docker
    uses: hoprnet/hopr-workflows/.github/workflows/build-docker-manifest.yaml@build-docker-manifest-v1
    permissions:
      contents: read
    with:
      version_type: "commit"
      docker_image_name: "bloklid"
      docker_build_version: ${{ needs.build-docker.outputs.docker_build_version }}
      docker_debug_version: ${{ needs.build-docker.outputs.docker_debug_version }}
    secrets:
      gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY}}
      docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
      docker_hub_token: ${{ secrets.DOCKER_HUB_TOKEN }}
  build-binaries:
    name: Binary ${{ matrix.architecture }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - architecture: x86_64-linux
            runner: self-hosted-hoprnet-bigger
            build_command: nix build -L .#bloklid-x86_64-linux
    uses: hoprnet/hopr-workflows/.github/workflows/build-binaries.yaml@build-binaries-v1
    permissions:
      contents: read
    with:
      source_branch: ${{ github.event.pull_request.head.ref || github.ref }}
      version_type: "commit"
      architecture: ${{ matrix.architecture }}
      cachix_cache_name: "blokli"
      build_file: "bloklid/Cargo.toml"
      build_command: ${{ matrix.build_command }}
      binary: bloklid
      runner: ${{ matrix.runner }}
    secrets:
      gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY}}
      cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      gpg_private_key: ${{ secrets.GPG_HOPRNET_PRIVATE_KEY }}
  build-client:
    name: Build blokli-client
    runs-on: self-hosted-hoprnet-bigger
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Nix
        uses: hoprnet/hopr-workflows/actions/setup-nix@15db9fb5571957317b77567abef997b1554f2fbb # setup-nix-v1
        with:
          cachix_cache_name: blokli
          cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build blokli-client-dev
        run: nix build -L .#blokli-client-dev --no-link
  integration-test:
    name: Integration Test
    needs: build-docker
    uses: ./.github/workflows/integration-test.yaml
    with:
      image: ${{ needs.build-docker.outputs.docker_build_version }}
    secrets: inherit
