name: Build Client
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
      - labeled
concurrency:
  group: ${{ github.ref }}-build-client
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
jobs:
  build-client:
    name: Build blokli-client
    runs-on: self-hosted-hoprnet-bigger
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Use Nix Cache
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: blokli
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        env:
          USER: runner
      - name: Build blokli-client-dev
        run: nix build -L .#blokli-client-dev --no-link
