#################################################################################
# Pipeline to build on pull requests                                            #
#################################################################################
name: Build
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
concurrency:
  group: ${{ github.ref }}-build
  cancel-in-progress: true
permissions:
  contents: read
env:
  CARGO_TERM_COLOR: always
jobs:
  build-binaries:
    name: Binary ${{ matrix.architecture }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - architecture: x86_64-linux
            runner: self-hosted-hoprnet-bigger
            build_command: nix build -L .#binary-blokli-x86_64-linux
    uses: hoprnet/hopr-workflows/.github/workflows/build-binaries.yaml@ausias/workflows-v2 # build-binaries-v2
    permissions:
      contents: read
    with:
      source_branch: ${{ github.event.pull_request.head.ref || github.ref }}
      version_type: "commit"
      architecture: ${{ matrix.architecture }}
      cachix_cache_name: "blokli"
      build_file: "bloklid/Cargo.toml"
      build_command: ${{ matrix.build_command }}
      binary: bloklid
      runner: ${{ matrix.runner }}
    secrets:
      gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY}}
      cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      gpg_private_key: ${{ secrets.GPG_HOPRNET_PRIVATE_KEY }}
  build-docker:
    name: Docker ${{ matrix.architecture }}
    uses: hoprnet/hopr-workflows/.github/workflows/build-docker.yaml@ausias/workflows-v2  # build-docker-v1
    needs: build-binaries
    permissions:
      contents: read
      security-events: write
      id-token: write
    with:
      source_branch: ${{ github.event.pull_request.head.ref || github.ref }}
      version_type: "commit"
      build_matrix: >-
        [
          {
            "runner": "self-hosted-hoprnet-bigger",
            "architecture": "x86_64-linux",
            "build_command": "nix run -L .#docker-blokli-x86_64-linux",
            "smoke_test_command": "nix develop -c just smoke-test"
          }
        ]
      cachix_cache_name: "blokli"
      build_file: "bloklid/Cargo.toml"
      docker_image_name: "bloklid"
      deployment_namespace: blokli
      deployment_label_selector: app.kubernetes.io/name=blokli
    secrets:
      gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY}}
      cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
      docker_hub_token: ${{ secrets.DOCKER_HUB_TOKEN }}
  build-client:
    name: Build blokli-client
    runs-on: self-hosted-hoprnet-bigger
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Nix
        uses: hoprnet/hopr-workflows/actions/setup-nix@c8d45034bb33307dfda3b4dfcd1fc4000cadc05a # setup-nix-v1
        with:
          cachix_cache_name: blokli
          cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build blokli-client-dev
        run: nix build -L .#blokli-client-dev --no-link
  integration-test:
    name: Integration Tests
    needs: [build-docker]
    uses: ./.github/workflows/integration-test.yaml
    with:
      image: europe-west3-docker.pkg.dev/hoprassociation/docker-images/bloklid:${{ needs.build-docker.outputs.docker_build_version }}
    secrets: inherit
