name: Build
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
      - lableled
concurrency:
  group: ${{ github.ref }}-build
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
jobs:
  build-docker:
    name: Build
    uses: ./.github/workflows/build-docker.yaml
    with:
      source_branch: ${{ github.event.pull_request.head.ref || github.ref }}
      version_type: "commit"
    secrets: inherit

  checks:
    name: Checks
    runs-on: self-hosted-hoprnet-bigger
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout hoprnet repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Nix
        uses: cachix/install-nix-action@7be5dee1421f63d07e71ce6e0a9f8a4b07c2a487 # v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: blokli
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Check formatting
        continue-on-error: true
        run: just fmt

      - name: Check linting
        continue-on-error: true
        run: just clippy

      - name: Run unit tests
        continue-on-error: true
        run: just test


  build-binaries:
    strategy:
      matrix:
        binary:
          - architecture: x86_64-linux
            runner: self-hosted-hoprnet-bigger
          - architecture: aarch64-darwin
            runner: macos-15
          - architecture: x86_64-darwin
            runner: macos-13
    name: Binary ${{ matrix.binary.architecture }}
    uses: ./.github/workflows/build-binaries.yaml
    with:
      branch: ${{ github.event.pull_request.head.ref }}
      runner: ${{ matrix.binary.runner }}
      architecture: ${{ matrix.binary.architecture }}
      version_type: "commit"
    secrets: inherit
