name: Integration Test
on:
  workflow_call:
    inputs:
      image:
        description: 'Docker image to test'
        required: true
        type: string
jobs:
  integration-test:
    name: Integration Tests
    runs-on: self-hosted-hoprnet-bigger
    timeout-minutes: 20
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Use Nix Cache
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: blokli
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        env:
          USER: runner
      - name: Setup GCP
        uses: hoprnet/hopr-workflows/actions/setup-gcp@12c56020e16036982e6cc529848edeedfc705865 # master
        with:
          google-credentials: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY }}
          login-artifact-registry: 'true'
          install-sdk: 'false'
      - name: Run Integration tests
        env:
          BLOKLI_TEST_REMOTE_IMAGE: ${{ inputs.image }}
        run: |-
          nix develop -c cargo test --package blokli-integration-tests
