name: Merge PR
on:
  pull_request:
    types:
      - closed
      # - synchronize
concurrency:
  group: merge
  cancel-in-progress: false
jobs:
  build-binary:
    name: Build binary
    runs-on: self-hosted-hoprnet-small
    if: github.event.pull_request.merged == true
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout hoprnet repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
