name: Close release
on:
  workflow_dispatch:
    inputs:
      release_type:
        description: "Next version type"
        required: true
        type: choice
        default: "patch"
        options:
          - patch
          - minor
          - major
concurrency:
  group: release
  cancel-in-progress: false
jobs:
  build-docker:
    name: Build Docker
    uses: ./.github/workflows/build-docker.yaml
    with:
      source_branch: ${{ github.ref }}
      version_type: "release"
    secrets: inherit
  build_binaries:
    strategy:
      fail-fast: false
      matrix:
        target:
          - name: x86_64-linux
            runner: self-hosted-hoprnet-bigger
    name: Binary
    uses: ./.github/workflows/build-binaries.yaml
    with:
      source_branch: ${{ github.ref }}
      runner: ${{ matrix.target.runner }}
      architecture: ${{ matrix.target.name }}
      version_type: release
    secrets: inherit
  release:
    name: Close release
    needs:
      - build-docker
    runs-on: self-hosted-hoprnet-small
    steps:
      - name: Checkout hoprnet repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Release version
        uses: hoprnet/hopr-workflows/actions/release-version@release-version-v1
        with:
          file: bloklid/Cargo.toml
          release_type: "${{ inputs.release_type }}"
          zulip_api_key: ${{ secrets.ZULIP_API_KEY }}
          zulip_email: ${{ secrets.ZULIP_EMAIL }}
          zulip_channel: "Blokli"
          zulip_topic: "Releases"