name: Close release
on:
  workflow_dispatch:
    inputs:
      release_type:
        description: Version type after release
        required: true
        type: choice
        default: "patch"
        options:
          - rc
          - patch
          - minor
          - major
concurrency:
  group: release
  cancel-in-progress: false
jobs:
  build-binaries:
    name: Binary ${{ matrix.architecture }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - architecture: x86_64-linux
            runner: self-hosted-hoprnet-bigger
            build_command: nix build -L .#binary-blokli-x86_64-linux
    uses: hoprnet/hopr-workflows/.github/workflows/build-binaries.yaml@build-binaries-v2
    permissions:
      contents: read
    with:
      source_branch: ${{ github.ref }}
      version_type: "release"
      architecture: ${{ matrix.architecture }}
      cachix_cache_name: "blokli"
      build_file: "bloklid/Cargo.toml"
      build_command: ${{ matrix.build_command }}
      binary: bloklid
      runner: ${{ matrix.runner }}
    secrets:
      gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY }}
      cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      gpg_private_key: ${{ secrets.GPG_HOPRNET_PRIVATE_KEY }}
  build-docker:
    name: Docker
    uses: hoprnet/hopr-workflows/.github/workflows/build-docker.yaml@build-docker-v1
    needs: build-binaries
    permissions:
      contents: read
      id-token: write
    with:
      source_branch: ${{ github.ref }}
      version_type: "release"
      build_matrix: >-
        [
          {
            "runner": "self-hosted-hoprnet-bigger",
            "architecture": "x86_64-linux",
            "build_command": "nix build -L .#docker-blokli-x86_64-linux",
            "smoke_test_command": "nix develop -c just smoke-test"
          }
        ]
      cachix_cache_name: "blokli"
      build_file: "bloklid/Cargo.toml"
      docker_image_name: "bloklid"
      deployment_namespace: blokli
      deployment_label_selector: app.kubernetes.io/name=blokli
    secrets:
      gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY }}
      cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
      docker_hub_token: ${{ secrets.DOCKER_HUB_TOKEN }}
  release:
    name: Close release
    needs:
      - build-docker
      - build-binaries
    runs-on: self-hosted-hoprnet-small
    permissions:
      contents: write
    steps:
      - name: Release version
        uses: hoprnet/hopr-workflows/actions/release-version@27fb7c9ad22da3361b1fb783c61ce06aa39dd62a # release-version-v2
        with:
          source_branch: ${{ github.ref_name }}
          file: bloklid/Cargo.toml
          release_type: "${{ inputs.release_type }}"
          package_name: bloklid
          cachix_cache_name: "blokli"
          cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          zulip_api_key: ${{ secrets.ZULIP_API_KEY }}
          zulip_email: ${{ secrets.ZULIP_EMAIL }}
          zulip_channel: "Blokli"
          zulip_topic: "Releases"
          gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY }}
          github_token: ${{ secrets.GH_RUNNER_TOKEN }}
